body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(MW-at-Work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        
    }
h3{
        margin-left: -70vw;
        color: silver;
    }


header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px ;
    position: relative;
    width: 100%;
    
   
}

section {
    padding: 100px;
    margin: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 5px orange;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

.a {
    margin-top: 100px;
}

/* Media Queries for Mobile Devices */
@media screen and (max-width: 768px) {
    header {
        padding: 15px;
        width: 98%;
    }
    body{
        background-image: url(MW-at-Work.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
    }

    nav ul li {
        display: inline-block;
        margin: 10px 5px;
    }

    section {
        margin: 10px;
        padding: 50px;
        box-shadow: 0 2px 5px orange;
    }

    form {
        width: 100%;
        margin: 0 10px;
    }

    footer {
        font-size: 12px;
        padding: 8px;
        width: 100%;
        
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    body{
        background-image: url(MW-at-Work.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
    }
    header {
        padding: 8px;
        width: 100%;
    }

    nav ul li {
        display: inline-block;
        margin: 10px 5px;
        text-align: center;
    }

    section {
        margin: 5px;
        padding: 60px;
    }

    form {
        width: 100%;
        margin: 0 10px;
    }

    input, textarea {
        font-size: 14px;
    }
   h3{
    margin-left: 5px;
   }
    footer {
        font-size: 12px;
        padding: 8px;
        width: 100%;
        
    }
   
    
}
